.bold { font-weight: bolder; }

.fgblack { color: Black; }
.fgdr { color: DarkRed; }
.fgdg { color: DarkGreen; }
.fgdy { color: GoldenRod; }
.fgdb { color: DarkBlue; }
.fgdm { color: DarkMagenta; }
.fgdc { color: DarkCyan; }
.fglgray { color: LightGray; }
.fgdgray { color: DarkGray; }
.fglr { color: Red; }
.fglg { color: Green; }
.fgly { color: Yellow; }
.fglb { color: Blue; }
.fglm { color: Magenta; }
.fglc { color: Cyan; }
.fgwhite { color: White; }
